body{
    font-family: 'Lacquer', sans-serif;
}
h1{
    font-size: 50px;

}
.name-highlight{
    color:rgb(252, 0, 0);
}
.half-width{
    width: 40%;
 float: left;
    margin-left: 4%;
    padding-left: 2%;

}
.top-banner{
    border: 1px solid red;
    background-repeat: no-repeat;
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
}